h1{
    border: 2px solid black;
}

div{
    height: 200px;
    width: 500px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    color: pink;
    background-color: aliceblue;
    font-size: 1.5em;
}

button{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}